
/* Styling Background of the div */
.Result-Div{
    width: 77%;
    height: 454px;
    flex-shrink: 0;
    border-radius: 40px 40px 0px 0px;
    border: 1px solid #DFDBE9;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25) inset;
    position: absolute;
    left: 12%;
    top: 17%;
    
}
/* styling Button */
.btn-bg{
    color: white;
    padding: 10px 40px;
    border-radius: 13px;
    cursor: pointer;
    font-size: 20px;
}
.Result-div{
    display: flex;
    justify-content: end;
    margin-top: 4%;
    padding-right: 5%;
}
/* Inserting image and styling it */
.Answer-img1{
    position: absolute;
    top: 0;
}
.Answer-img2{
    position: absolute;
    right: 0;
    bottom: 0;
}
.Answer-img3{
    position: absolute;
    right: 40%;
    width: 259px;
height: 206px;
flex-shrink: 0;
    bottom: 0;
}
/* Text Styling */
.Answer-quoats{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.Wiining-quoats{
    display: flex;
    justify-content: center;
    margin-top: -2%;
    text-decoration: underline;
    padding: 0 23% 0 24%;
}
/* Play Again button styling */
.Play-Again{
    position: absolute;
    left: 42.7%;
    margin-top: 2.2%;
    cursor: pointer;
    padding: 10px 40px;
    border-radius: 13px;
    font-size: 16px;
}
/* Responsive Designing */
@media screen and (max-width:400px) {
    .btn-bg {
        padding: 7px 18px;
        border-radius: 10px;
        font-size: 18px;
    }
    .Answer-img1 {
        width: 100px;
    }
    .Wiining-quoats {
        margin-top: 21%;
        padding: 0 5% 0 5%;
        font-size: 17px;
    }
    .Answer-quoats {
        margin-top: 5%;
        font-size: 20px;
        margin-left: 20px;
    }
    .Play-Again {
        left: 30.7%;
        margin-top: 2.2%;
        padding: 8px 11px;
        border-radius: 11px;
        font-size: 15px;
    }
    .Answer-img2 {
        width: 100px;
    }
    .Answer-img3 {
        right: 34%;
        width: 168px;
        height: 164px;
        bottom: 30px;
    }
}